<!DOCTYPE html>
<a href="https://gutendex.com/">https://gutendex.com/</a>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookHub - Books</title>
  <link rel="stylesheet" href="style.css">
  <style>
        body {
    background: #6abadeba;
}
#card {
    position: relative;
    top: 110px;
    width: 320px;
    display: block;
    margin: auto;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
}

#upper-side {
    padding: 2em;
    background-color: #8BC34A;
    display: block;
    color: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
#checkmark {
    font-weight: lighter;
    fill: #fff;
    margin: -3.5em auto auto 20px;
}
#status {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    margin-top: -0.2em;
    margin-bottom: 0;
}
#lower-side {
    padding: 2em 2em 5em 2em;
    background: #fff;
    display: block;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.bottom-two {
     margin-bottom: 1cm;
  }
  .outer {
  margin-left: 10px;
}
.inner {
  padding-left: 30px;
}
</style>
</head>
<body>
  <h1>BookHub - Books</h1>

    {{#each books}}
    <div class="outer bottom-two">
        <h2>{{title}}</h2>
        <div class="inner">
        <h3>Authors:</h3>
        {{#each authors}}
        <li>
          {{name}}
        </li>
        {{/each}}

        <h3>Subjects:</h3>
        {{#each subjects}}
        <li>
          {{this}}
        </li>
        {{/each}}
        </div>
    </div>
        
      <p class="bottom-two"></p>
    {{/each}}
</body>
</html>
