<!DOCTYPE html>
<html>
    <head>
        <title>Update Email</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
       
</style>
    </head>
    <body>
         <div id="container" style="width: 50%; margin: auto;">
            <header>
            
            </header>
            <main id="flexcontainer">

               <aside>
                    
                    <br>
                    <br>
                    <br>
                    <h2>Update Email</h2>
                    <br>
                      <form id="updateEmailForm" action="/update_email" method="POST">
                      <label>Username: </label> <input type="text" id="userName" name="userName" maxlength="30"><br>
                      <label>New Email: </label> <input type="text" id="email" name="email" maxlength="30"><br>
                      <button onclick="submit" class="btn btn-success" id="submit">Update New Email</button> <br>
                      </form>
                    <br>                    
                </form> <br>
                       
                </aside>
                
            </main>
            </div>
            <script>

                  function updateM(){
                //this function need to route to the url of the contact page
                //window is a native function of JavaScript
                window.location.href = "/updateM"
            }
        
            </script>
    </body>